<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>回答フォーム</title>
    <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
    <script src="js/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
  <div id="app">
    <textarea v-model="myText" placeholder="回問を入力"></textarea>
      <p>{{ myText }}</p>
    <transition-group>
      <li v-for="item in dataArray" v-bind:key="item">{{ item }}</li>
    </transition-group>
    <label><input v-model="addItem" placeholder="追加するタグ"></label>
    <ons-button v-on:click="addList">追加</ons-button>
    <ons-button v-on:click="removeList">最後の１つを削除</ons-button>
    <p>{{ count }}</p>
    <ons-button v-on:click.once="iinecount">いいね</ons-button>

    <!-- <div class="center"> Firebaseストレージ </div> -->
    <section style="margin: 10px;">
        <input type="file" name="photo" @change="fileChange" accept="image/*" />
        <ons-button @click="upload">アップロード</ons-button>
        <div v-if="photo_url">
            <div class="center">
                <img :src="photo_url" width="80%" />
            </div>
        </div>
    </section>
  </div>
  <script>
    new Vue({
    el:'#app',
    data:{
      myText:'',
      // タグの追加
      dataArray:[],
          addItem:'',
      // いいねのカウント
      count:0,
      //写真のアップロード
      photo: null,
      photo_url: null
    },
    methods:{
      // タグの追加
      addList:function(){
        this.dataArray.push(this.addItem);
        this.addItem='';
      },
      removeList:function(){
        var lastIdx = this.dataArray.length - 1;
        this.dataArray.splice(lastIdx, 1);
      },
      // いいねのカウント
      iinecount:function(){
        this.count++;
      },
      // 画像アップロード処理
      upload: function() {
          var me = this;
          // ストレージオブジェクト作成
          var storageRef = firebase.storage().ref();
          // ファイルのパスを設定
          var mountainsRef = storageRef.child(`images/${this.photo.name}`);
          // ファイルを適用してファイルアップロード開始
          var uploadTask = mountainsRef.put(this.photo);
          // ステータスを監視
          uploadTask.on('state_changed', function(snapshot){
          }, function(err) {
              console.log(err);
          }, function() {
              // アップロード完了したら画像のURLを取得
              me.photo_url = uploadTask.snapshot.downloadURL;
          })
      },
    }
  })
  </script>

    <nav>
      <ons-button (click)="onClick()">HOME</ons-button>
      <ons-button (click)="onClick()">MY PAGE</ons-button>
      <ons-button (click)="onClick()">SAVE</ons-button>
      <ons-button (click)="onClick()">QUESTION</ons-button>
    </nav>
</body>
</html>